In [31]:
import numpy as np
from scipy import stats
import pandas as pd

In [32]:
data = pd.read_csv('../data/model_training_data.csv')
data

,Sex,Age,AgeClass,BodyweightKg,WeightClassKg,Best3SquatKg,Best3BenchKg,Best3DeadliftKg,TotalKg,Country,Date
0,M,13.0,13-15,63.20,66,120.0,77.5,155.0,352.5,USA,2017-05-06
1,M,13.0,13-15,63.20,66,120.0,77.5,155.0,352.5,USA,2017-05-06
2,F,13.0,13-15,44.20,47,62.5,42.5,82.5,187.5,USA,2020-01-19
3,F,13.0,13-15,65.90,72,105.0,60.0,127.5,292.5,USA,2018-01-27
4,M,13.0,13-15,94.30,105,140.0,110.0,157.5,407.5,USA,2016-03-19
...,...,...,...,...,...,...,...,...,...,...,...
93451,M,85.0,80-999,80.60,83,65.0,80.0,97.5,242.5,USA,2015-10-15
93452,M,85.5,80-999,88.70,93,37.5,55.0,80.0,172.5,USA,2018-08-18
93453,F,90.0,80-999,71.34,72,20.0,30.0,40.0,90.0,USA,2017-08-05
93454,F,91.5,80-999,70.40,72,20.0,30.0,35.0,85.0,USA,2019-02-23
93455,F,92.0,80-999,69.90,72,20.0,25.0,47.5,92.5,USA,2019-11-10

In [14]:
categorical = ['Sex', 'AgeClass', 'WeightClassKg']
quantitative = ['Age', 'BodyweightKg', 'Best3SquatKg', 'Best3BenchKg', 'Best3DeadliftKg', 'TotalKg']

In [22]:
count_m_y = len(data[(data['Sex'] == 'M') & (data['Age'] <= 30)])
count_m_o = len(data[(data['Sex'] == 'M') & (data['Age'] > 30)])
count_f_y = len(data[(data['Sex'] == 'F') & (data['Age'] <= 30)])
count_f_o = len(data[(data['Sex'] == 'F') & (data['Age'] > 30)])

In [23]:
pd.crosstab(data['Sex'], data['AgeClass'])

AgeClass,13-15,16-17,18-19,20-23,24-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-999
Sex,,,,,,,,,,,,,,,
F,912,1881,2521,7139,12698,2585,2407,1689,1284,663,398,234,100,27,7
M,1200,3891,6727,17265,20601,2504,2140,1606,1093,776,517,246,257,69,19

In [26]:
sex_vs_age = np.array([[count_m_y, count_m_o], [count_f_y, count_f_o]])
sex_vs_age

array([[44965, 13946],
       [21370, 13175]])

In [30]:
# p_val is 0.0 < 0.05 so we reject the null hypothesis that sex and age group are independent
chi2, p_val, df, expected = stats.chi2_contingency(sex_vs_age)
p_val
expected

array([[41814.98443118, 17096.01556882],
       [24520.01556882, 10024.98443118]])